@model WaterAdvisor.Models.Project.Project

@{
    ViewData["Title"] = "Delete";
}

<h2>Видалення</h2>

<h3>Дійсно видалити проект?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectComment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectComment)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-default" /> |
            <a asp-action="Index">Повернутися до списку проектів</a>
        </div>
    </form>
</div>
