@model IEnumerable<WaterAdvisor.Models.Project.Project>

@{
    ViewData["Title"] = "Список проектів";
}

<h2>Список проектів</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectComment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectComment)
            </td>
            <td>
                <a asp-controller="Home" asp-action="" asp-route-id="@item.Id">Open</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
