@model WaterAdvisor.Models.Project.Home
@{
    ViewData["Title"] = "Home";
}

<h2>Аналіз води</h2>

<div class="col-md-12">
    <form asp-action="Index">
        <div class="form-horizontal col-md-4">
            <h4>Катіони</h4>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="project.Id" />
            <table class="table" width="100">
                <thead>
                    <tr>
                        <th class="col-md-4">
                            Назва
                        </th>
                        <th class="col-md-2">
                            мг/л
                        </th>
                        <th class="col-md-2">
                            мг-екв/л
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Model.waterFeed.NH4.Name
                        </td>
                        <td>
                            <input asp-for="@Model.waterFeed.NH4.Value" class="form-control input-sm" />
                            <span asp-validation-for="@Model.waterFeed.NH4.Value" class="text-danger" />
                        </td>
                        <td>
                            <input asp-for="@Model.waterFeed.NH4.ValueMEq" class="form-control input-sm" />
                            <span asp-validation-for="@Model.waterFeed.NH4.ValueMEq" class="text-danger" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Model.waterFeed.K.Name
                        </td>
                        <td>
                            <input asp-for="@Model.waterFeed.K.Value" class="form-control input-sm" />
                            <span asp-validation-for="@Model.waterFeed.K.Value" class="text-danger" />
                        </td>
                        <td>
                            <input asp-for="@Model.waterFeed.K.ValueMEq" class="form-control input-sm" />
                            <span asp-validation-for="@Model.waterFeed.K.ValueMEq" class="text-danger" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
