@model WaterAdvisor.Models.Project.HomeViewModel
@{
    ViewData["Title"] = "Проект: " + Model.ProjectName;
}

<h2>Аналіз води</h2>

<div class="col-md-12">
        <div class="form-horizontal col-md-4">
            <h4>Катіони</h4>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <table class="table" width="100">
                <thead>
                    <tr>
                        <th class="col-md-4">
                            Назва
                        </th>
                        <th class="col-md-2">
                            мг/л
                        </th>
                        <th class="col-md-2">
                            мг-екв/л
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Model.WaterIn.NH4.GetName()
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.NH4.Value" class="form-control input-sm" data-bind="textInput: WaterIn.NH4.Value" />
                            <span asp-validation-for="@Model.WaterIn.NH4.Value" class="text-danger" />
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.NH4.ValueMEq" class="form-control input-sm" data-bind="textInput: WaterIn.NH4.ValueMEq" />
                            <span asp-validation-for="@Model.WaterIn.NH4.ValueMEq" class="text-danger" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Model.WaterIn.K.GetName()
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.K.Value" class="form-control input-sm" data-bind="textInput: WaterIn.K.Value" />
                            <span asp-validation-for="@Model.WaterIn.K.Value" class="text-danger" />
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.K.ValueMEq" class="form-control input-sm" data-bind="textInput: WaterIn.K.ValueMEq" />
                            <span asp-validation-for="@Model.WaterIn.K.ValueMEq" class="text-danger" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Model.WaterIn.Na.GetName()
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.Na.Value" class="form-control input-sm" data-bind="textInput: WaterIn.Na.Value" />
                            <span asp-validation-for="@Model.WaterIn.Na.Value" class="text-danger" />
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.Na.ValueMEq" class="form-control input-sm" data-bind="textInput: WaterIn.Na.ValueMEq" />
                            <span asp-validation-for="@Model.WaterIn.Na.ValueMEq" class="text-danger" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Model.WaterIn.Ca.GetName()
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.Ca.Value" class="form-control input-sm" data-bind="textInput: WaterIn.Ca.Value" />
                            <span asp-validation-for="@Model.WaterIn.Ca.Value" class="text-danger" />
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.Ca.ValueMEq" class="form-control input-sm" data-bind="textInput: WaterIn.Ca.ValueMEq" />
                            <span asp-validation-for="@Model.WaterIn.Ca.ValueMEq" class="text-danger" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Model.WaterIn.Mg.GetName()
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.Mg.Value" class="form-control input-sm" data-bind="textInput: WaterIn.Mg.Value" />
                            <span asp-validation-for="@Model.WaterIn.Mg.Value" class="text-danger" />
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.Mg.ValueMEq" class="form-control input-sm" data-bind="textInput: WaterIn.Mg.ValueMEq" />
                            <span asp-validation-for="@Model.WaterIn.Mg.ValueMEq" class="text-danger" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Model.WaterIn.Fe2.GetName()
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.Fe2.Value" class="form-control input-sm" data-bind="textInput: WaterIn.Fe2.Value" />
                            <span asp-validation-for="@Model.WaterIn.Fe2.Value" class="text-danger" />
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.Fe2.ValueMEq" class="form-control input-sm" data-bind="textInput: WaterIn.Fe2.ValueMEq" />
                            <span asp-validation-for="@Model.WaterIn.Fe2.ValueMEq" class="text-danger" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Model.WaterIn.Fe3.GetName()
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.Fe3.Value" class="form-control input-sm" data-bind="textInput: WaterIn.Fe3.Value" />
                            <span asp-validation-for="@Model.WaterIn.Fe3.Value" class="text-danger" />
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.Fe3.ValueMEq" class="form-control input-sm" data-bind="textInput: WaterIn.Fe3.ValueMEq" />
                            <span asp-validation-for="@Model.WaterIn.Fe3.ValueMEq" class="text-danger" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Model.WaterIn.Mn.GetName()
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.Mn.Value" class="form-control input-sm" data-bind="textInput: WaterIn.Mn.Value" />
                            <span asp-validation-for="@Model.WaterIn.Mn.Value" class="text-danger" />
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.Mn.ValueMEq" class="form-control input-sm" data-bind="textInput: WaterIn.Mn.ValueMEq" />
                            <span asp-validation-for="@Model.WaterIn.Mn.ValueMEq" class="text-danger" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Model.WaterIn.Sr.GetName()
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.Sr.Value" class="form-control input-sm" data-bind="textInput: WaterIn.Sr.Value" />
                            <span asp-validation-for="@Model.WaterIn.Sr.Value" class="text-danger" />
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.Sr.ValueMEq" class="form-control input-sm" data-bind="textInput: WaterIn.Sr.ValueMEq" />
                            <span asp-validation-for="@Model.WaterIn.Sr.ValueMEq" class="text-danger" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Model.WaterIn.Ba.GetName()
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.Ba.Value" class="form-control input-sm" data-bind="textInput: WaterIn.Ba.Value" />
                            <span asp-validation-for="@Model.WaterIn.Ba.Value" class="text-danger" />
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.Ba.ValueMEq" class="form-control input-sm" data-bind="textInput: WaterIn.Ba.ValueMEq" />
                            <span asp-validation-for="@Model.WaterIn.Ba.ValueMEq" class="text-danger" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Сума катіонів
                        </td>
                        <td data-bind="text: WaterIn.SumCationsMEq">
                        </td>
                        <td>
                            мг-екв/л
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="form-horizontal col-md-4">
            <h4>Аніони</h4>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <table class="table" width="100">
                <thead>
                    <tr>
                        <th class="col-md-4">
                            Назва
                        </th>
                        <th class="col-md-2">
                            мг/л
                        </th>
                        <th class="col-md-2">
                            мг-екв/л
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Model.WaterIn.HCO3.GetName()
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.HCO3.Value" class="form-control input-sm" data-bind="textInput: WaterIn.HCO3.Value" />
                            <span asp-validation-for="@Model.WaterIn.HCO3.Value" class="text-danger" />
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.HCO3.ValueMEq" class="form-control input-sm" data-bind="textInput: WaterIn.HCO3.ValueMEq" />
                            <span asp-validation-for="@Model.WaterIn.HCO3.ValueMEq" class="text-danger" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Model.WaterIn.SO4.GetName()
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.SO4.Value" class="form-control input-sm" data-bind="textInput: WaterIn.SO4.Value" />
                            <span asp-validation-for="@Model.WaterIn.SO4.Value" class="text-danger" />
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.SO4.ValueMEq" class="form-control input-sm" data-bind="textInput: WaterIn.SO4.ValueMEq" />
                            <span asp-validation-for="@Model.WaterIn.SO4.ValueMEq" class="text-danger" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Model.WaterIn.Cl.GetName()
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.Cl.Value" class="form-control input-sm" data-bind="textInput: WaterIn.Cl.Value" />
                            <span asp-validation-for="@Model.WaterIn.Cl.Value" class="text-danger" />
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.Cl.ValueMEq" class="form-control input-sm" data-bind="textInput: WaterIn.Cl.ValueMEq" />
                            <span asp-validation-for="@Model.WaterIn.Cl.ValueMEq" class="text-danger" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Model.WaterIn.NO2.GetName()
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.NO2.Value" class="form-control input-sm" data-bind="textInput: WaterIn.NO2.Value" />
                            <span asp-validation-for="@Model.WaterIn.NO2.Value" class="text-danger" />
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.NO2.ValueMEq" class="form-control input-sm" data-bind="textInput: WaterIn.NO2.ValueMEq" />
                            <span asp-validation-for="@Model.WaterIn.NO2.ValueMEq" class="text-danger" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Model.WaterIn.NO3.GetName()
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.NO3.Value" class="form-control input-sm" data-bind="textInput: WaterIn.NO3.Value" />
                            <span asp-validation-for="@Model.WaterIn.NO3.Value" class="text-danger" />
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.NO3.ValueMEq" class="form-control input-sm" data-bind="textInput: WaterIn.NO3.ValueMEq" />
                            <span asp-validation-for="@Model.WaterIn.NO3.ValueMEq" class="text-danger" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Model.WaterIn.F.GetName()
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.F.Value" class="form-control input-sm" data-bind="textInput: WaterIn.F.Value" />
                            <span asp-validation-for="@Model.WaterIn.F.Value" class="text-danger" />
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.F.ValueMEq" class="form-control input-sm" data-bind="textInput: WaterIn.F.ValueMEq" />
                            <span asp-validation-for="@Model.WaterIn.F.ValueMEq" class="text-danger" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Model.WaterIn.SiO2.GetName()
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.SiO2.Value" class="form-control input-sm" data-bind="textInput: WaterIn.SiO2.Value" />
                            <span asp-validation-for="@Model.WaterIn.SiO2.Value" class="text-danger" />
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.SiO2.ValueMEq" class="form-control input-sm" data-bind="textInput: WaterIn.SiO2.ValueMEq" />
                            <span asp-validation-for="@Model.WaterIn.SiO2.ValueMEq" class="text-danger" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Model.WaterIn.PO4.GetName()
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.PO4.Value" class="form-control input-sm" data-bind="textInput: WaterIn.PO4.Value" />
                            <span asp-validation-for="@Model.WaterIn.PO4.Value" class="text-danger" />
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.PO4.ValueMEq" class="form-control input-sm" data-bind="textInput: WaterIn.PO4.ValueMEq" />
                            <span asp-validation-for="@Model.WaterIn.PO4.ValueMEq" class="text-danger" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Сума аніонів
                        </td>
                        <td data-bind="text: WaterIn.SumAnionsMEq"></td>
                        <td>
                            мг-екв/л
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Баланс іонів
                        </td>
                        <td data-bind="text: WaterIn.SumIonsBalance"></td>
                        <td>
                            мг-екв/л
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Загальний солевміст
                        </td>
                        <td data-bind="text: WaterIn.TDS"></td>
                        <td>
                            мг/л
                        </td>
                    </tr>
                </tbody>
            </table>
            <button id="buttonBalanceAnalysis" class="btn btn-default" data-bind="enable: (WaterIn.SumIonsBalance() != 0)">Балансувати аналіз (натрій/хлориди)</button>
        </div>

        <div class="form-horizontal col-md-4">
            <h4>Інше</h4>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table class="table" width="100">
                <thead>
                    <tr>
                        <th class="col-md-4">
                            Назва
                        </th>
                        <th class="col-md-2">
                            Значення
                        </th>
                        <th class="col-md-2">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Model.WaterIn.pH.GetName()
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.pH.Value" class="form-control input-sm" data-bind="textInput: WaterIn.pH.Value" />
                            <span asp-validation-for="@Model.WaterIn.pH.Value" class="text-danger" />
                        </td>
                        <td>
                            од.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Model.WaterIn.Temperature.GetName()
                        </td>
                        <td>
                            <input asp-for="@Model.WaterIn.Temperature.Value" class="form-control input-sm" data-bind="textInput: WaterIn.Temperature.Value" />
                            <span asp-validation-for="@Model.WaterIn.Temperature.Value" class="text-danger" />
                        </td>
                        <td>
                            град.
                        </td>
                    </tr>
                </tbody>
            </table>

            <h4>Індекси</h4>
            <table class="table" width="100">
                <thead>
                    <tr>
                        <th class="col-md-4">
                            Назва
                        </th>
                        <th class="col-md-2">
                            Значення
                        </th>
                        <th class="col-md-2">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            IS
                        </td>
                        <td data-bind="text: Calc.IS"></td>
                        <td>
                            моль/л
                        </td>
                    </tr>
                    <tr>
                        <td>
                            CO2
                        </td>
                        <td data-bind="text: Calc.CO2">
                        </td>
                        <td>
                            мг/л
                        </td>
                    </tr>
                    <tr>
                        <td>
                            LSI
                        </td>
                        <td data-bind="text: Calc.LSI"></td>
                        <td>                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            S&DSI
                        </td>
                        <td data-bind="text: Calc.StDI"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            IP CaSO4
                        </td>
                        <td data-bind="text: Calc.IP_CaSO4"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            IP BaSO4
                        </td>
                        <td data-bind="text: Calc.IP_BaSO4"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            IP SrSO4
                        </td>
                        <td data-bind="text: Calc.IP_SrSO4"></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </div>
</div>

@section Scripts {
    <script src="~/js/app.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
